" Don't use Ex mode, use Q for formatting.
map Q gq

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" Normal mode = Vim, Insert mode = IDE
sethandler n:vim i:ide

" Use system clipboard
set clipboard+=unnamedplus

" Automatically reload .ideavimrc when saving
autocmd BufWritePost .ideavimrc source $HOME/.ideavimrc

" Source .vimrc file
source ~/.vimrc

"Plugins
Plug 'tpope/vim-commentary'                     " Commenting (gcc, gc)
Plug 'tpope/vim-surround'                       " Surroundings (ysiw', cs', etc.)
Plug 'machakann/vim-highlightedyank'            " Highlight yanked text
Plug 'easymotion/vim-easymotion'                " Fast navigation
